

.section-first-screen {
  background: url("../../image/first-screen/fon.png") center center/cover no-repeat;
  margin: 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slogan {
  @include iphone6 {
    padding-top: 10px;
  }
  @include samsung {
    padding-top: 0;
  }
 
  display: flex;
  padding-left: 11px;
  padding-bottom: 1rem;
  flex-flow: column;
  justify-content: center;
  max-width: 100%;
&__title {
  @include tablets {
    line-height: 5.3125rem;
    margin-bottom: 1.4375rem;
  }
  @include phones {
    font-size: 3.9375rem;
    margin-bottom: 0;
  }
  @include iphone6 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  color: #f9b43b;
  font-family: "gagalinregular";
  font-size: 72px;
  font-weight: 400;
  line-height: 109px;
  
}
&__text {
  @include tablets {
    
    width: 99%;
    line-height: 60px;
  }

  @include phones {
    font-size: 3.375rem;
  }
  @include iphone6 {
    font-size: 2.0625rem;
    line-height: 3.125rem;
  }
  font-family: "lifehackmedium";
  color: #ffffff;
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 4.0625rem;
}
}

.cover__image--pic {
  @include phones {
    width: 22.0625rem;
    height: 20.5rem;
  }
  @include iphone6{
    padding: 5rem;
  }
  @include samsung {
    padding: 5rem;
  }
  width: 28.375rem;
  height: 26.5rem;
}

@media screen and (max-width: 768px) {
  .first-screen__content{
   
    flex-direction: column;
    text-align: center;
    padding-top: 3.375rem;
  }
}

.first-screen__content {
  @include phones {
    padding-top: 1.75rem;
    margin-bottom: 3rem;
  }
@include iphone6 {
  padding: 0;
  margin: 0;
}
  display: flex;
  justify-content: center;
  flex: 0.9;
  align-items: center;
  margin-bottom: 1.125rem;
}

.cover__image {
  @include tablets {
    padding: 0;
    margin-bottom: 1.25rem;
  }
  @include phones {
    padding-left: 0.625rem;
    margin-bottom: 2.25rem;
  }
  @include iphone6 {
    height: 50vh;
    display: flex;
    margin: 0;
  }
  padding-left: 1.3125rem;
 padding-bottom: 3.5625rem;
  align-items: center;
}

.scroll {
  padding-left: 0.875rem;
  display: flex;
  justify-content: center;
&__down {
  width: 29px;
  height: 14px;
  background: url("../../image/first-screen/icon/arrow-scroll.svg");
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(1.1);
  transition: 0.2s;
  }
}
}

