* {
  box-sizing: border-box;
}


.order {
  width: 48%;
  display: flex;
  flex-flow: column;
  margin-right: 0.625rem;
}

.form-wrap {
  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  @include phones {}

  display: flex;
  justify-content: space-between;
}

.form__buttons-row {
  margin-bottom: 1.25rem;
}

.order-section {
  @include iphone {
    min-height: 0;
  }

  background: url("../../image/order/2-layers.png") center center / cover no-repeat;
  height: 100vh;
  min-height: 40.625rem;
  align-items: center;
}

.section__title {
  @include phones {
    font-size: 3.125rem;
  }

  @include samsung {
    margin: 0;
  }

  @include iphone {
    margin: 0;
    font-size: 2.5rem;
  }

  margin: 0;
  display: flex;
  justify-content: center;
  color: #f9b43b;
  font-family: 'Gagalinregular';
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.75rem;
}

.order-left {
  @include tablets {
    width: 29.5rem;
    padding-left: 0;
  }

  @include phones {
    width: 100%;
    padding: 0px 0.9375rem;
  }

  width: calc(100% / 2 - 0.625rem);

}

.order-right {
  @include tablets {
    width: 29.5rem;
  }

  @include phones {
    width: 100%;
    padding: 0px 0.9375rem;
  }

  width: calc(100% / 2 - 0.625rem);
}


.order__row {
  @include phones {
    justify-content: center;
  }

  @include iphone {
    margin-bottom: 0.625rem;
  }

  display: flex;
  margin-bottom: 1.25rem;

  &:nth-child(3) {
    margin-bottom: 0;
  }
}

.order__block {
  flex: 1;
  margin-left: 1.25rem;
}

.order__block:first-child {
  margin-left: 0;
}

.order__block:last-child {
  margin-right: 0;
}

.order__block:nth-child(4) {
  @include phones {
    display: none;
  }
}

.order__block {
  max-width: 100%;
}

.order__title {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 5px;
  color: #fff;
}

.order__input {
  width: 100%;
  padding: 0.4375rem 1.25rem;
  border: 2px solid;
  border-color: transparent;
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 2px solid #f9b43b;
  }
}

.order__input--textarea {
  @include tablets {
    width: 29.5rem;
  }

  @include phones {
    max-width: 100%;
  }

  width: 28.4375rem;
  height: 7.0625rem;
  border: 0.125rem solid;
  padding: 0.625rem 1.25rem;
  outline: none;
  border-color: transparent;
  border-radius: 5px;
  background-color: #ffffff;
  resize: vertical;

  &:focus {
    border: 2px solid #f9b43b;
  }
}

.switch-controls {
  @include phones {
    justify-content: center;
  }

  display: flex;
  margin-bottom: 1.25rem;
}

.switch-controls-check {
  @include phones {
    justify-content: center;
  }

  display: flex;

}

.switch-controls__buttons {
  margin-right: 0.625rem;

}

.switch-controls__title {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  margin-right: 1.25rem;
}

.switch-controls__title:last-child {
  margin-right: 0;
}

.switch-controls__radio {
  position: absolute;
  left: -624.9375rem;
}

.switch-controls__radio:checked+.switch-controls__visible:after {
  width: 7px;
  height: 7px;
}


.switch-controls__visible {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;

  &--checkbox {
    width: 0.9375rem;
    height: 0.9375rem;
    overflow: hidden;
    position: relative;
    transition: .3s;
    background: #fdfdfd;
  }
}

.switch-controls__visible:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  background: #e35028;
}

.switch-controls__visible--checkbox::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.switch-controls__radio:checked+.switch-controls__visible--checkbox::after {
  background-image: url("../../image/order/w128h1281338911632checkmark2.png");
  width: 0.6875rem;
  height: 0.5625rem;
}

.order__clear {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-left: 1.25rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: 0.1s;
  }
}



.btn-submit {
  @include phones {
    width: 5.375rem;
  }
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #c1401e;
    transition: 0.3s;
  }
}


.order-overlay  {
  display: none;
  height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow: hidden;
	align-items: center;
  justify-content: center;
  background: rgba(25, 26, 26, 0.8) 
}

.order-overlay-error {
  display: none;
  height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow: hidden;
	align-items: center;
  justify-content: center;
  background: rgba(25, 26, 26, 0.8) 
}

.order-popup {
  width: 196px;
height: 106px;
background-color: #fff;
border-radius: 5px;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
&__text {
color: #2f3234;
font-family: 'Ubuntu';
font-size: 14px;
font-weight: 300;
line-height: 24px;
}
}

.order-overlay__error {
  display: none;
  height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow: hidden;
	align-items: center;
  justify-content: center;
  background: rgba(25, 26, 26, 0.8)
}

.btn-close {
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #c1401e;
    transition: 0.3s;
  }
}
 
.btn-close-error {
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #c1401e;
    transition: 0.3s;
  }
}
 


