* {
  box-sizing: border-box;
}

.section-burgers {
  @include tablets {
    min-height: 0;
  }

  background: linear-gradient(#F9B43B, #EB8E38, #F9B43B);
}

.burgers-container {
  display: flex;
  margin: 0 auto;

}

.scroll {
  display: flex;
  align-items: center;
}

.scroll-left {
  cursor: pointer;
  transform: rotate(90deg);
  width: 1.625rem;
  height: 2.5625rem;
}


.scroll-right {
  cursor: pointer;
  transform: rotate(-90deg);
  width: 26px;
  height: 41px;
}

.scroll-slider__icon {
  width: 1.3125rem;
  height: 2.25rem;
  fill: #fff;

  &:hover {
    width: 1.625rem;
    height: 2.5625rem;
    transition: 0.3s;
  }
}

.burger__order {
  display: flex;
  align-items: baseline;
}

.burger__list {
  list-style: none;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.burger__item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  @include tablets {
  flex-direction: column;
  }
}

.burger__image-wrap {
  @include tablets {
    padding-top: 5.625rem;
  }
}



.burger__image-pic {
  @include middle {
    width: 25.25rem;
    height: 16.4375rem;
  }

  @include phones {
    width: 19rem;
    height: 11.875rem;
  }

  @include samsung {
    width: 13.625rem;
    height: 8.375rem;
  }
  width: 505px;
height: 329px;
}

.burger {
  @include tablets {
    flex-direction: column;
  }

  display: flex;

  &__image {
    @include tablets {
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    @include tablets {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem 3.75rem;
      text-align: center;
    }

    @include phones {
      padding: 0;
    }

    padding-top: 0.9375rem;
  }

  &__title {
    @include tablets {
      margin: 0;
    }

    @include phones {
      padding: 0rem 0.625rem;
    }

    margin-bottom: 2.5rem;
  }

  &__title-name {

    @include phones {
      font-size: 3.125rem;
      font-weight: 400;
    }

    @include samsung {
      font-size: 1.875rem;
    }

    color: #fff;
    font-family: 'Gagalinregular';
    font-size: 4.5rem;
    font-weight: 400;
    margin: 0;
  }

  &__text {
    @include iphone {
      margin: 0;
    }

    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.4981rem;
    margin-bottom: 1.5625rem;
  }

  &__order-price {
    @include phones {
      font-size: 3.125rem;
    }

    @include iphone {
      font-size: 2.5rem;
    }

    font-size: 4.5rem;
    color: #e35028;
    font-family: 'Gagalinregular';
  }

  &__order-value {
    @include phones {
      font-size: 1.875rem;
    }

    @include iphone {
      font-size: 1.5625rem;
    }

    color: #e35028;
    font-family: 'Gagalinregular';
    font-size: 1.875rem;
    margin-right: 1.5625rem;
  }
}

.burger__image-icon-text {
  color: #ffffff;
  font-family: 'Gagalinregular';
  font-size: 0.875rem;
  font-weight: 400;
}

.burger__image-icon {
  @include tablets {
    position: absolute;
    left: 5rem;
  }

  @include samsung {
    width: 4.375rem;
    height: 4.375rem;
  }

  @include phones {
    left: 0.625rem;
  }

  border: none;
  outline: none;
  cursor: pointer;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #e35028;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &-pic {
    width: 2.875rem;
    height: 2.75rem;
  }
}

.burger__image-kkal {
  @include tablets {
    position: absolute;
    right: 5.5rem;
  }

  @include phones {
    right: 0.625rem;
  }

  @include samsung {
    width: 4.375rem;
    height: 4.375rem;
  }

  width: 5.625rem;
  height: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;

  &-pic {
    width: 3.75rem;
    height: 3.75rem;
  }

  &-text {
    color: #fff;
    font-family: 'Gagalinregular';
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.burger__image-kkal-weight {
  fill: #ffffff;
  font-family: 'Gagalinregular';
  font-size: 1.25rem;
  font-weight: 400;
}

.burger__image {
  position: relative;
}

.burger-compasition {
  @include tablets {
    left: 10.5625rem;
    width: 18.75rem;
  }
  @include phones {
    left: 6.25rem;
  }
  @include iphone6 {
    width: 12.5rem;
  }
  @include samsung {
    left: 5rem;
    width: 11.25rem;
  }
  position: absolute;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 5px;
  left: 5.625rem;
  
  &__list {
    @include phones {
      padding: 1.25rem 1.875rem 1.25rem 0.625rem;
    }
    list-style: none;
    margin: 0;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  &__item {
    @include tablets {
    justify-content: space-evenly;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-icon {
    @include phones {
      margin: 0;
    }
    width: 3rem;
    height: 2.6875rem;
    margin-right: 1.25rem;
  }
}

.burger-compasition__item-title {
  @include tablets {
    flex: none;
  }
  color: #2f3234;
font-family: 'Ubuntu';
font-size: 0.875rem;
font-weight: 500;
margin-right: 3.75rem;
flex: auto;
}

.burger-compasition__item-weight {
  color: #2f3234;
font-family: 'Ubuntu';
font-size: 0.875rem;
font-weight: 300;
}

.close-compasition {
  @include tablets {
    opacity: 1;
    cursor: pointer;
    &:hover {
    transform: scale(1.2);
    transition: 0.1s;
    }
  }
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  opacity: 0;
}

