.section-first-screen {
  background: url("../../image/first-screen/fon.png") center center/cover no-repeat;
  margin: 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slogan {
  display: flex;
  padding-top: 68px;
  flex-flow: column;
  justify-content: center;
&__title {
  color: #f9b43b;
  font-family: "gagalinregular";
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
}
&__text {
  font-family: "lifehackmedium";
  width: 406px;
  color: #ffffff;
  font-size: 65px;
  font-weight: 500;
}
}

.cover__image--pic {
  width: 500px;
  height: 241px;
}

.first-screen__content {
  display: flex;
  justify-content: center;
  flex: 0.9;
  align-items: center;
}

.cover__image {
  align-items: center;
&--pic {
  width: 417px;
  height: 424px;
}
}

.scroll {
  display: flex;
  justify-content: center;
&__down {
  width: 29px;
  height: 14px;
  background: url("../../image/first-screen/icon/arrow-scroll.png");
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(1.1);
  transition: 0.2s;
  }
}
}




