.section-first-screen {
  background: url("../../image/first-screen/fon.png") center center/cover no-repeat;
  margin: 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slogan {
  @include iphone6 {
    padding-top: 0.625rem;
  }
  @include samsung {
    padding-top: 0;
  }
  @include iphone {
    margin-bottom: 1.25rem;
  }
  display: flex;
  padding-top: 4.25rem;
  flex-flow: column;
  justify-content: center;
  max-width: 100%;
&__title {
  @include phones {
    font-size: 3.9375rem;
  }
  @include iphone6 {
    font-size: 2.5rem;
  }
  color: #f9b43b;
  font-family: "gagalinregular";
  font-size: 4.5rem;
  font-weight: 400;
}
&__text {
  @include tablets {
    margin-top: 0.625rem;
    width: 99%;
  }

  @include phones {
    font-size: 3.375rem;
  }
  @include iphone6 {
    font-size: 2.0625rem;
  }
  font-family: "lifehackmedium";
  color: #ffffff;
  font-size: 4.0625rem;
  font-weight: 500;
}
}

.cover__image--pic {
  @include iphone6{
    padding: 5rem;
  }
  @include samsung {
    padding: 5rem;
  }
  width: 30.25rem;
  height: 14.0625rem;
}

@media screen and (max-width: 768px) {
  .first-screen__content{
    flex-direction: column;
    text-align: center;
  }
}

.first-screen__content {

  display: flex;
  justify-content: center;
  flex: 0.9;
  align-items: center;
}

.cover__image {
  @include iphone6 {
    height: 50vh;
    display: flex;
  }
 
  align-items: center;
&--pic {
  width: 26.0625rem;
  height: 26.5rem;
}
}

.scroll {
  
  display: flex;
  justify-content: center;
&__down {
  width: 1.8125rem;
  height: 0.875rem;
  background: url("../../image/first-screen/icon/arrow-scroll.svg");
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(1.1);
  transition: 0.2s;
  }
}
}

.scroll{

  @include tablets {
    margin-top: 1.875rem;
  }
  @include samsung {
    margin-top: 0;
  }
}