.section-first-screen {
  background: url("../../image/first-screen/fon.png") center center/cover no-repeat;
  margin: 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slogan {
  display: flex;
  padding-top: 4.25rem;
  flex-flow: column;
  justify-content: center;
&__title {
  color: #f9b43b;
  font-family: "gagalinregular";
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3125rem;
}
&__text {
  font-family: "lifehackmedium";
  width: 25.375rem;
  color: #ffffff;
  font-size: 4.0625rem;
  font-weight: 500;
}
}

.cover__image--pic {
  width: 31.25rem;
  height: 15.0625rem;
}

.first-screen__content {
  display: flex;
  justify-content: center;
  flex: 0.9;
  align-items: center;
}

.cover__image {
  align-items: center;
&--pic {
  width: 26.0625rem;
  height: 26.5rem;
}
}

.scroll {
  display: flex;
  justify-content: center;
&__down {
  width: 1.8125rem;
  height: 0.875rem;
  background: url("../../image/first-screen/icon/arrow-scroll.png");
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(1.1);
  transition: 0.2s;
  }
}
}

