.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 60px;

  &__right {
    width: 50%;
  }

  &__left {
    width: 50%;
  }

  &__address {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
  &__phone{
    color: #e45028;
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.phone-number__icon{
  width: 12px;
height: 11px;
}

