.order {
  width: 48%;
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

.form-wrap {
  display: flex;
  padding: 40px 48px 0px 78px;
}

.order-section {
  background: url("../../image/order/2-layers.png") center center / cover no-repeat;
  height: 100vh;
  min-height: 650px;
}

.section__title {
  display: flex;
  justify-content: center;
  color: #f9b43b;
  font-family: 'Gagalinregular';
  font-size: 72px;
  font-weight: 400;
  line-height: 47px;
}

.order-left{
padding-right: 20px;
}
  .order-right{
    padding-right: 30px;
  }


.order__row {
  margin-bottom: 14px;
  display: flex;
}

.order__block {
  flex: 1;
  margin-right: 20px;
}

.order__block:last-child {
  margin-right: 0;
}


.order__title {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #fff;
}

.order__input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
}

.order__input--textarea {

  width: 455px;
  height: 104px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  background-color: #ffffff;
  resize: vertical;
}

.switch-controls {
  display: flex;
  margin-top: 5px;
}

.switch-controls-check{
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
}

.switch-controls__buttons {
  margin-right: 10px;
  
}

.switch-controls__title {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}

.switch-controls__title:last-child {
  margin-right: 0;
}

.switch-controls__radio {
  position: absolute;
  left: -9999px;
}

.switch-controls__radio:checked+.switch-controls__visible:after {
  width: 7px;
  height: 7px;
}


.switch-controls__visible {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;

  &--checkbox {
    width: 15px;
    height: 15px;
    overflow: hidden;
    position: relative;
    transition: .3s;
    background: #fdfdfd;
  }
}

.switch-controls__visible:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  background: #e35028;
}

.switch-controls__visible--checkbox::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.switch-controls__radio:checked+.switch-controls__visible--checkbox::after {
  background-image: url("../../image/order/w128h1281338911632checkmark2.png");
  width: 11px;
  height: 9px;
}

.order__clear {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 20px;
  cursor: pointer;
}