* {
  box-sizing: border-box;
}

.order {
  width: 48%;
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.order-section {
  background: url("../../image/order/2-layers.png") center center / cover no-repeat;
  height: 100vh;
  min-height: 650px;
}

.section__title {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #f9b43b;
  font-family: 'Gagalinregular';
  font-size: 72px;
  font-weight: 400;
  line-height: 63.99px;
  
}

.order-left {
  width: calc(100% / 2 - 0.625rem);
  padding-left: 80px;
}

.order-right {
  width: calc(100% / 2 - 0.625rem);
}


.order__row {
  margin-top: 20px;
  display: flex;
}

.order__block {
  flex: 1;
  margin-left: 20px;
}

.order__block:first-child {
  margin-left: 0;
}

.order__block:last-child {
  margin-right: 0;
}


.order__title {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #fff;
}

.order__input {
  width: 100%;
  padding: 7px 20px;
  border: 2px solid;
  border-color: transparent;
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 2px solid #f9b43b;
  }
}

.order__input--textarea {
  width: 455px;
  height: 113px;
  border: 2px solid;
  padding: 10px 20px;
  outline: none;
  border-color: transparent;
  border-radius: 5px;
  background-color: #ffffff;
  resize: vertical;

  &:focus {
    border: 2px solid #f9b43b;
  }
}

.switch-controls {
  display: flex;
  margin-top: 5px;
}

.switch-controls-check {
  display: flex;
  margin-top: 27px;
}

.switch-controls__buttons {
  margin-right: 10px;

}

.switch-controls__title {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}

.switch-controls__title:last-child {
  margin-right: 0;
}

.switch-controls__radio {
  position: absolute;
  left: -9999px;
}

.switch-controls__radio:checked+.switch-controls__visible:after {
  width: 7px;
  height: 7px;
}


.switch-controls__visible {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;

  &--checkbox {
    width: 15px;
    height: 15px;
    overflow: hidden;
    position: relative;
    transition: .3s;
    background: #fdfdfd;
  }
}

.switch-controls__visible:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  background: #e35028;
}

.switch-controls__visible--checkbox::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.switch-controls__radio:checked+.switch-controls__visible--checkbox::after {
  background-image: url("../../image/order/w128h1281338911632checkmark2.png");
  width: 11px;
  height: 9px;
}

.order__clear {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: 0.1s;
  }
}

.form__buttons-row{
  margin-top: 14px;
}