.accordeon{
  margin: 0;
  padding: 0;
  list-style: none;
}



.team {
  @include iphone {
    min-height: 0;
  }
  background: url("../../image/team/SBS_1255-X2.png") center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  margin: 0;
  &-container {
    height: 100%;
  }
  &__content{
    position: relative;
    margin-bottom: 0.625rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__compasition {
    @include iphone6 {
      width: 70%;
    }
    width: 52%;
    display: flex;
    flex-direction: column;
  }

  &__member {
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
  }

  &__right {
    @include tablets {
      left:0;
      width: 100%;
      text-align: center;
    }
    @include iphone {
      min-height: 0;
    }
    position: absolute;
    left: 50%;
    height: 100vh;
    min-height: 40.625rem;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.93;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include phones {
      font-size: 3.125rem;
      top: 5px;
    }
    @include iphone {
      margin: 0;
      font-size: 2.625rem;
    }
    
    position: absolute;
    top: 4.6875rem;
    color: #f9b43b;
    font-family: 'Gagalinregular';
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4.0025rem;
  }

  &__username{
    @include tablets {
      font-size: 1.5625rem;
font-weight: 400;
line-height: 1.8206rem;
    }
    @include phones{
      font-size: 1.5625rem;
    }
    @include iphone {
      margin-bottom: 0;
      
    }
    position: relative;
    color: #ffffff;
    font-family: 'Gagalinregular';
    font-size: 0.875rem;
    font-weight: 400;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 1.25rem;
    &:hover{
      color: #f9b43b;
      transition: 0.3s;
    }
  }

  &__profession {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5006rem;
    font-family: "Ubuntu - Bold";
    font-weight: 700;
  }

  &__text {
    @include tablets {
      width: 73%;
    }
    @include phones{
      width: 100%;
    }
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5006rem;
    font-family: "Ubuntu Light";
    
  }
}

.team__avatar {
  @include tablets {
    margin-bottom: 1.0625rem;
  }
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  overflow: hidden;

  &--img {
    display: block;
    max-width: 100%;
    width: 5.25rem;
    height: 5.25rem;
  }
}

.team__right--col {
  @include tablets{
    display: contents;
  }
  margin-left: 1.875rem;
}

.team__username::before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right-width: 4.5px;
  border-left-width: 4.5px;
  border-top-color: #f9b43b;
  border-bottom-width: 0;
  width: 0px;
  height: 0px;
  right: 105%;
  top: 40%;
}




 


.team__content--active .team__username::before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right-width: 4.5px;
  border-left-width: 4.5px;
  border-bottom-color: #f9b43b;
  border-top-width: 0;
  width: 0px;
  height: 0px;
  right: 105%;
  top: 40%;
  
}

.team__content--active .team__username{
  @include tablets {
    font-size: 1.5rem;
font-weight: 400;
line-height: 1.7781rem;
  }
  position: relative;
    color: #f9b43b;
    font-family: 'Gagalinregular';
    font-size: 0.875rem;
    font-weight: 400;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 1.25rem;
    
}

.team__member--active{
  display: flex;
}

.team__content--active .team__member{
  @include tablets {
    height: 14.375rem;
  }
 overflow: visible;
 height: 8.75rem;
 transition: height 0.2s;
}

